<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div style="margin: 5%;">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="col-lg-6 col-md-6 col-sm-6 col-8" style="margin-left: 18%">
      <div class="form-group">
        <label>Queue Id</label>
        <input type="text" class="form-control" [readOnly]="true" name="QID" [(ngModel)]="queueID" #QID='ngModel' placeholder="{{queueID}}" disabled>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8" style="margin-left: 18%">
      <div class="form-group">
        <label>Pickup Address</label>
        <input type="text" class="form-control" name="pu_address" [(ngModel)]="modalContent.pu_address" #pu_address='ngModel'>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8" style="margin-left: 18%">
      <div class="form-group">
        <label>Pickup Address Lat</label>
        <input type="text" class="form-control" name="pu_lat" [(ngModel)]="modalContent.pickuplat">
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8" style="margin-left: 18%">
      <div class="form-group">
        <label>Pickup Address Long</label>
        <input type="text" class="form-control" name="pu_long" [(ngModel)]="modalContent.pickuplong">
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8" style="margin-left: 18%">
      <div class="form-group">
        <label>Pickup Date</label>
        <input type="text" class="form-control" name="pu_date" [readOnly]="true" [(ngModel)]="modalContent.pu_time">
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-8" style="margin-left: 18%">
      <div class="input-group" style="margin-bottom: 3%;">
        <!-- <label>New Date</label> -->
        <input class="form-control" name="dp" [readOnly]="true" [ngModel]="model" [readonly]="true" [maxDate]="maxDate" [minDate]="startDate" placeholder="{{valuedate | date: 'yyyy-MM-dd'}}" (ngModelChange)="onSelectDate($event)"
          ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dateButton" style="height: 100%;border-radius: 0px;"(click)="d.toggle()" type="button">
            <span>
              <i class="fa fa-calendar"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8" *ngIf="show" style="margin-left: 18%">
      <label>New Slot</label>
      <input class="form-control" name="slot" [(ngModel)]="slot_time" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 SlotCol">
      <table cellspacing="20" class="table table-condensed table-responsive">
        <tr *ngFor="let row of buildArr(slot);let i = index">
          <td *ngFor="let s of row" class="timeRow">
            <a (click)=check(s.slothour) class="timeAnchor">
              <span>{{s.time_format}}</span>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 18%">
      <button type="submit" class="btn btn-warning">Update</button>
    </div>
  </form>
</div>