<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <nb-card class="nb-icons">
            <nb-card-header>
                Chauffeur
            </nb-card-header>
            <nb-card-body>

                <!-- Registration Number  -->
                <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <toaster-container [toasterconfig]="config"></toaster-container>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-lg-5">
                            <div class="form-group">
                                <input type="text" id="num" name="num" style=" text-transform: uppercase" class="form-control" required [(ngModel)]="registrationNumber" #num="ngModel" maxlength="15">
                                <label class="form-control-placeholder" for="num">Registration Number*</label>
                            </div>
                            <div class="form-control-feedback" *ngIf="num.errors && (num.dirty || num.touched)">
                                <p *ngIf="num.errors.required">Registration Number is required</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-lg-5">
                            <div class="form-group">
                                <select name="servicetype" id="servicetype" class="form-control" [(ngModel)]="serviceType" #servicetype="ngModel" required>
                    <option *ngFor = "let s of service_type" [value] = "s.id"> {{s.type}}</option>
                </select>
                                <label class="form-control-placeholder" for="servicetype">Service Type*</label>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-control-feedback" *ngIf="servicetype.errors && (servicetype.dirty || servicetype.touched)" style="display:inline-block">
                                    <p *ngIf="servicetype.errors.required">Service Type is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2">
                            <div>
                                <button type="button" class="btn btn-warning" [disabled]="!registrationNumber || !serviceType" (click)='someFunction()'>Next</button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="show">
                        <!-- Vehicle Details -->
                        <div class="line">
                            <h5><span>Vehicle Details</span></h5>
                        </div>

                        <!-- <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <select name="brand" id="brand" class="form-control"  (change) = "onSelectBrand($event.target.value)" (ngModel)="selectedBrand.id" #brand="ngModel" required>
                    <option *ngFor = "let sa of brands" [value] = "sa.brand_id"> {{sa.brand_name}}</option>
                </select>
                  <label class="form-control-placeholder" for="brand">Vehicle Brand</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-control-feedback" *ngIf="brand.errors && (brand.dirty || brand.touched)" style="display:inline-block">
                    <p *ngIf="brand.errors.required">Brand is required</p>
                </div>
              </div>
            </div> -->

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select name="model" id="model" class="form-control" (change)="onSelectModel($event.target.value)" (ngModel)="selectedModel.id" #model="ngModel" required>
                      <option *ngFor = "let ma of Models" [value] = "ma.model_id"> {{ma.model_name}}</option>
                  </select>
                                    <label class="form-control-placeholder" for="ServiceAdvisor">Vehicle Model*</label>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-control-feedback" *ngIf="model.errors && (model.dirty || model.touched)">
                                    <p *ngIf="model.errors.required">Model is required</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select name="variant" id="variant" class="form-control" (ngModel)="selectedVariant.id" #variant="ngModel" required>
                      <option *ngFor = "let va of Variant" [value] = "va.variant_id"> {{va.variant_name}}</option>
                  </select>
                                    <label class="form-control-placeholder" for="ServiceAdvisor">Vehicle Variant*</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-control-feedback" *ngIf="variant.errors && (variant.dirty || variant.touched)">
                                    <p *ngIf="variant.errors.required">Variant is required</p>
                                </div>
                            </div>
                        </div>


                        <!-- Coordinator Name -->

                        <h5><span>Coordinator Details</span></h5>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group" style="display:inline-block;min-width:15%;">
                                    <select id="salutation1" class="form-control" name="salutation1" [(ngModel)]="user.salutation" #salutation1="ngModel" required>
                                  <option *ngFor = "let s of salutation" [value] = "s.type"> {{s.type}}</option>
                              </select>
                                </div>
                                <div class="form-group" style="display:inline-block;min-width:84%;">
                                    <select name="coordinator" id="coordinator" class="form-control" (change)="onCoordinator($event.target.value)" (ngModel)="selectedCoordinator" #coordinator="ngModel" required>
                      <option *ngFor = "let s of Coordinator" [value] = "s.id"> {{s.first_name}}</option>
                  </select>
                                    <label class="form-control-placeholder" for="coordinator">Coordinator Name*</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6" style="display:inline-block;">
                                <div class="form-control-feedback" *ngIf="coordinator.errors && (coordinator.dirty || coordinator.touched)">
                                    <p *ngIf="coordinator.errors.required">Coordinator Name is required</p>
                                </div>
                                <div style="display:inline-block;margin:3%">
                                    <button type="button" (click)="showModal(3)" class="addnumber" style="background-color: white;border-color: orange;margin-top: 1.2em;">
                          <i class="fa fa-plus" style="color:#ffa100" aria-hidden="true"></i>
                        </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                <div class="form-group" style="display:inline-block;max-width: 16%;">
                                    <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;margin-top: 1.0em;">Country Code</label>
                                    <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1" #countrycode="ngModel">

                                </div>
                                <div class="form-group" style="display:inline-block;min-width: 58%;">
                                    <label for="cormob" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Mobile Number*</label>
                                    <input type="text" [readonly]="true" id="cormob" class="form-control" name="cormob" [(ngModel)]="selectedCoordinator.mobile_number" #cormob="ngModel">

                                </div>
                            </div>
                        </div>

                        <!-- stock yard -->

                        <div *ngIf="serviceType === '1'">
                            <h6><span>Slot and Location Details</span></h6>

                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" name="dp" [ngModel]="model" [readonly]="true" [minDate]="startDate" (ngModelChange)="onSelectDate($event)" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button">
                                  <span><i class="fa fa-calendar"></i></span>
                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="d.errors && (d.dirty || d.touched)">
                                        <p *ngIf="d.errors.required">Date is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input type="text" id="notes" class="form-control" name="notes" [(ngModel)]="user.notes" #notes="ngModel">
                                        <label class="form-control-placeholder" for="notes">Notes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <table cellspacing="20" *ngIf="show3" class="table table-condensed table-responsive">
                                        <tr *ngFor="let row of buildArr(slot);let i = index">
                                            <td *ngFor="let s of row" class="timeRow"><a (click)=check(s.time_format,s.slothour) class="timeAnchor">{{s.time_format}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><input class="form-control" name="slot" *ngIf="slot_time" [(ngModel)]="slothour" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="pickloc" class="form-control" name="pickloc" [(ngModel)]="user.pickloc" #pickloc="ngModel" required>
                                        <label class="form-control-placeholder" for="pickloc">Pickup Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="pickloc.errors && (pickloc.dirty || pickloc.touched)">
                                        <p *ngIf="pickloc.errors.required">Pickup Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="picklatlong" class="form-control" name="picklatlong" [(ngModel)]="user.picklatlong" #picklatlong="ngModel" required pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="picklatlong">Pickup lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="picklatlong.errors && (picklatlong.dirty || picklatlong.touched)">
                                        <p *ngIf="pickloc.errors.required">Pickup Lat/Long is required</p>
                                        <p *ngIf="!picklatlong.errors.valid">Wrong Format</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Internal Movement -->

                        <div *ngIf="serviceType === '3'">
                            <h5><span>Slot and Location Details</span></h5>

                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" name="dp" [ngModel]="model" [readonly]="true" [minDate]="startDate" (ngModelChange)="onSelectDate($event)" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button">
                                <span><i class="fa fa-calendar"></i></span>
                              </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="d.errors && (d.dirty || d.touched)">
                                        <p *ngIf="d.errors.required">Date is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input type="text" id="notes" class="form-control" name="notes" [(ngModel)]="user.notes" #notes="ngModel">
                                        <label class="form-control-placeholder" for="notes">Notes</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <table cellspacing="20" *ngIf="show3" class="table table-condensed table-responsive">
                                        <tr *ngFor="let row of buildArr(slot);let i = index">
                                            <td *ngFor="let s of row" class="timeRow"><a (click)=check(s.time_format,s.slothour) class="timeAnchor">{{s.time_format}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><input class="form-control" name="slot" *ngIf="slot_time" [(ngModel)]="slothour" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="pickloc" class="form-control" name="pickloc" [(ngModel)]="user.pickloc" #pickloc="ngModel" required>
                                        <label class="form-control-placeholder" for="pickloc">Pickup Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="pickloc.errors && (pickloc.dirty || pickloc.touched)">
                                        <p *ngIf="pickloc.errors.required">Pickup Location is required</p>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="picklatlong" class="form-control" name="picklatlong" [(ngModel)]="user.picklatlong" required #picklatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="picklatlong">Pickup lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="picklatlong.errors && (picklatlong.dirty || picklatlong.touched)">
                                        <p *ngIf="picklatlong.errors.required">Pickup Lat/long is required</p>
                                        <p *ngIf="!picklatlong.errors.valid">Wrong Format</p>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  name="sameas" #same (click)="sameas(same.checked)">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Drop Location is same as Pickup</span>
                      </label>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droploc" class="form-control" name="droploc" [(ngModel)]="user.droploc" #droploc="ngModel" required>
                                        <label class="form-control-placeholder" for="droploc">Dropoff Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droploc.errors && (droploc.dirty || droploc.touched)">
                                        <p *ngIf="droploc.errors.required">Dropoff Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droplatlong" class="form-control" name="droplatlong" [(ngModel)]="user.droplatlong" required (ngModelChange)="modelChanged($event)" #droplatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="droplatlong">Dropoff lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droplatlong.errors && (droplatlong.dirty || droplatlong.touched)">
                                        <p *ngIf="droplatlong.errors.required">Dropoff Lat/long is required</p>
                                        <p *ngIf="!droplatlong.errors.valid">Wrong Format</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Home delivery -->

                        <div *ngIf="serviceType === '4'">
                            <h5><span>Customer Details</span></h5>
                            <div class="container1">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                        <div class="form-group" style="display:inline-block;max-width: 16%;">
                                            <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Country Code</label>
                                            <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1" #countrycode="ngModel">

                                        </div>
                                        <div class="form-group" style="display:inline-block;min-width: 58%;">
                                            <input type="text" class="form-control" name="mobile1" OnlyNumber="true" maxlength="10" (blur)="customerCheck()" [(ngModel)]="cust_details.mobile" required #mobile1="ngModel" pattern="^[0-9]{10}$">
                                            <label class="form-control-placeholder" for="mobile1">Mobile Number*</label>
                                        </div>
                                        <div style="display:inline-block;margin:3%">
                                            <button type="button" (click)="show1=!show1" class="addnumber"><i class="fa"  [ngClass]="{'fa-plus': !show1, 'fa-minus': show1}" style="color:#ffa100" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="form-control-feedback" *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched)">
                                            <p *ngIf="mobile1.errors.required">mobile is required</p>
                                            <p *ngIf="!mobile1.errors.valid">mobile must contain digits only</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="show1">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                            <div class="form-group" style="display:inline-block;max-width: 16%;">
                                                <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Country Code</label>
                                                <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1" #countrycode="ngModel" pattern="^[0-9]{10}$">

                                            </div>
                                            <div class="form-group" style="display:inline-block;min-width: 58%;">
                                                <input type="text" class="form-control" name="mobile2" OnlyNumber="true" maxlength="10" [(ngModel)]="cust_details.mobile2" #mobile2="ngModel" pattern="^[0-9]{10}$">
                                                <label class="form-control-placeholder" for="mobile2">Mobile Number*</label>
                                            </div>
                                            <div class="form-control-feedback" *ngIf="mobile2.errors && (mobile2.dirty || mobile2.touched)">

                                                <p *ngIf="!mobile2.errors.valid">mobile must contain digits only</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="Cus_name" class="form-control" required [(ngModel)]="cust_details.first_name" name="Cus_name" #Cus_name="ngModel" style="text-transform: capitalize;">
                    <label class="form-control-placeholder" for="Cus_name">Customer Name</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-control-feedback"*ngIf="Cus_name.errors && (Cus_name.dirty || Cus_name.touched)">
                      <p *ngIf="Cus_name.errors.required">Customer Name is required</p>
                  </div>
                </div>
              </div> -->
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                    <div class="form-group" style="display:inline-block;min-width:15%;">
                                        <select id="salutation1" class="form-control" name="salutation1" [(ngModel)]="user.salutation" #salutation1="ngModel" required>
                              <option *ngFor = "let s of salutation" [value] = "s.type"> {{s.type}}</option>
                          </select>
                                    </div>
                                    <div class="form-group" style="display:inline-block;min-width:59%;">
                                        <input type="text" id="Cus_name" class="form-control" required [(ngModel)]="cust_details.first_name" name="Cus_name" #Cus_name="ngModel" style="text-transform: capitalize;">
                                        <label class="form-control-placeholder" for="Cus_name">Customer Name*</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-control-feedback" *ngIf="Cus_name.errors && (Cus_name.dirty || Cus_name.touched)">
                                        <p *ngIf="Cus_name.errors.required">Customer Name is required</p>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="email" class="form-control" name="email" [(ngModel)]="cust_details.email" #email="ngModel" required pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$">
                                        <label class="form-control-placeholder" for="email">Email Id*</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                                        <p *ngIf="email.errors.required">Email is required</p>
                                        <p *ngIf="!email.errors.valid">Email must contain at least the @ character</p>
                                    </div>
                                </div>
                            </div>

                            <h6><span>Slot and Location Details</span></h6>

                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" name="dp" [ngModel]="model" [readonly]="true" [minDate]="startDate" (ngModelChange)="onSelectDate($event)" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button">
                                  <span><i class="fa fa-calendar"></i></span>
                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="d.errors && (d.dirty || d.touched)">
                                        <p *ngIf="d.errors.required">Date is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input type="text" id="amount" class="form-control" name="notes" [(ngModel)]="user.notes" #notes="ngModel">
                                        <label class="form-control-placeholder" for="notes">Notes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <table cellspacing="20" *ngIf="show3" class="table table-condensed table-responsive">
                                        <tr *ngFor="let row of buildArr(slot);let i = index">
                                            <td *ngFor="let s of row" class="timeRow"><a (click)=check(s.time_format,s.slothour) class="timeAnchor">{{s.time_format}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><input class="form-control" name="slot" *ngIf="slot_time" [(ngModel)]="slothour" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="pickloc" class="form-control" name="pickloc" [(ngModel)]="user.pickloc" #pickloc="ngModel" required>
                                        <label class="form-control-placeholder" for="pickloc">Pickup Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="pickloc.errors && (pickloc.dirty || pickloc.touched)">
                                        <p *ngIf="pickloc.errors.required">Pickup Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="picklatlong" class="form-control" name="picklatlong" [(ngModel)]="user.picklatlong" #picklatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="picklatlong">Pickup lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="picklatlong.errors && (picklatlong.dirty || picklatlong.touched)">
                                        <p *ngIf="picklatlong.errors.required">Pickup Lat/long is required</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input"  name="sameas" #same (click)="sameas(same.checked)">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Drop Location is same as Pickup</span>
                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droploc" class="form-control" name="droploc" [(ngModel)]="user.droploc" #droploc="ngModel" required>
                                        <label class="form-control-placeholder" for="droploc">Dropoff Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droploc.errors && (droploc.dirty || droploc.touched)">
                                        <p *ngIf="droploc.errors.required">Dropoff Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droplatlong" class="form-control" name="droplatlong" [(ngModel)]="user.droplatlong" #droplatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="droplatlong">Dropoff lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droplatlong.errors && (droplatlong.dirty || droplatlong.touched)">
                                        <p *ngIf="droplatlong.errors.required">Dropoff Lat/long is required</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5">
                                    <div class="form-group">
                                        <select name="salesExe" id="salesExe" class="form-control" name="salesExe" [(ngModel)]="user.salesExe" #salesExe="ngModel" required>
                          <option *ngFor = "let s of SaleExceutive" [value] = "s.id"> {{s.first_name}} - {{s.mobile_number}}</option>
                      </select>
                                        <label class="form-control-placeholder" for="salesExe">Sales Executive*</label>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 col-sm-1">
                                    <div style="display:inline-block;margin-top: 54%;">
                                        <button type="button" (click)="showModal(4)" class="addnumber" style="background-color: white;border-color: orange;">
                            <i class="fa fa-plus" style="color:#ffa100" aria-hidden="true"></i>
                          </button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="amount" class="form-control" name="amt" [(ngModel)]="user.amount" #amt="ngModel">
                                        <label class="form-control-placeholder" for="amount">Amount to be collected</label>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- Test Drive -->
                        <div *ngIf="serviceType === '2'">
                            <h5><span>Customer Details</span></h5>
                            <div class="container1">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                        <div class="form-group" style="display:inline-block;max-width: 16%;">
                                            <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Country Code</label>
                                            <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1" #countrycode="ngModel">

                                        </div>
                                        <div class="form-group" style="display:inline-block;min-width: 58%;">
                                            <input type="text" class="form-control" name="mobile1" OnlyNumber="true" (blur)="customerCheck()" maxlength="10" [(ngModel)]="cust_details.mobile" required #mobile1="ngModel" pattern="^[0-9]{10}$">
                                            <label class="form-control-placeholder" for="mobile1">Mobile Number*</label>
                                        </div>
                                        <div style="display:inline-block;margin:3%">
                                            <button type="button" (click)="show1=!show1" class="addnumber"><i class="fa"  [ngClass]="{'fa-plus': !show1, 'fa-minus': show1}" style="color:#ffa100" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="form-control-feedback" *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched)">
                                            <p *ngIf="mobile1.errors.required">mobile is required</p>
                                            <p *ngIf="!mobile1.errors.valid">mobile must contain digits only</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="show1">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                            <div class="form-group" style="display:inline-block;max-width: 16%;">
                                                <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Country Code</label>
                                                <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1" #countrycode="ngModel">

                                            </div>
                                            <div class="form-group" style="display:inline-block;min-width: 58%;">
                                                <input type="text" class="form-control" name="mobile2" maxlength="10" [(ngModel)]="cust_details.mobile2" #mobile2="ngModel" OnlyNumber="true" pattern="^[0-9]{10}$">
                                                <label class="form-control-placeholder" for="mobile2">Mobile Number</label>
                                            </div>
                                            <div class="form-control-feedback" *ngIf="mobile2.errors && (mobile2.dirty || mobile2.touched)">

                                                <p *ngIf="!mobile2.errors.valid">mobile must contain digits only</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                    <div class="form-group" style="display:inline-block;min-width:15%;">
                                        <select id="salutation1" class="form-control" name="salutation1" [(ngModel)]="user.salutation" #salutation1="ngModel" required>
                                <option *ngFor = "let s of salutation" [value] = "s.type"> {{s.type}}</option>
                            </select>
                                    </div>
                                    <div class="form-group" style="display:inline-block;min-width:59%;">
                                        <input type="text" id="Cus_name" class="form-control" required [(ngModel)]="cust_details.first_name" name="Cus_name" #Cus_name="ngModel" style="text-transform: capitalize;">
                                        <label class="form-control-placeholder" for="Cus_name">Customer Name*</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-control-feedback" *ngIf="Cus_name.errors && (Cus_name.dirty || Cus_name.touched)">
                                        <p *ngIf="Cus_name.errors.required">Customer Name is required</p>
                                    </div>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="email" class="form-control" name="email" [(ngModel)]="cust_details.email" #email="ngModel" required pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$">
                                        <label class="form-control-placeholder" for="email">Email Id*</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                                        <p *ngIf="email.errors.required">Email is required</p>
                                        <p *ngIf="!email.errors.valid">Email must contain at least the @ character</p>
                                    </div>
                                </div>
                            </div>

                            <h5><span>Slot and Location Details</span></h5>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label class="switch" style="margin-bottom: -0.5rem;">
                              <input type="checkbox" checked name="amb"  #amb (click)="some(amb.checked)">
                              <span class="slider round"></span>
                            </label>
                                    <label style="margin-left:1.5rem;margin-bottom: -0.5rem;">Assign to 21North Ambassador</label>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6" *ngIf="!amb.checked">
                                    <div class="form-group">
                                        <input type="time" id="servicingTime" class="form-control" name="time" [(ngModel)]="user.time" #time="ngModel" required>
                                        <label class="form-control-placeholder" for="servicingTime">Slot</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="time.errors && (time.dirty || time.touched)">
                                        <p *ngIf="time.errors.required">Time is required</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row" *ngIf="amb.checked">
                      <div class="col-md-6 col-lg-6 col-sm-6">
                        <table cellspacing="20" *ngIf="show3">
                          <tr>
                              <td *ngFor="let s of slot" class="timeRow"><a (click)=check(s.slothour) class="timeAnchor">{{s.slothour}}</a></td>
                          </tr>
                      </table>
                      </div>
                    </div> -->

                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" name="dp" [ngModel]="model" [readonly]="true" [minDate]="startDate" (ngModelChange)="onSelectDate($event)" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button">
                                      <span><i class="fa fa-calendar"></i></span>
                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="d.errors && (d.dirty || d.touched)">
                                        <p *ngIf="d.errors.required">Date is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input type="text" id="amount" class="form-control" name="notes" [(ngModel)]="user.notes" #notes="ngModel">
                                        <label class="form-control-placeholder" for="notes">Notes</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="amb.checked">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <table cellspacing="20" *ngIf="show3" class="table table-condensed table-responsive">
                                        <tr *ngFor="let row of buildArr(slot);let i = index">
                                            <td *ngFor="let s of row" class="timeRow"><a (click)=check(s.time_format,s.slothour) class="timeAnchor">{{s.time_format}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><input class="form-control" name="slot" *ngIf="slot_time" [(ngModel)]="slothour" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="pickloc" class="form-control" name="pickloc" [(ngModel)]="user.pickloc" #pickloc="ngModel" required>
                                        <label class="form-control-placeholder" for="pickloc">Pickup Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="pickloc.errors && (pickloc.dirty || pickloc.touched)">
                                        <p *ngIf="pickloc.errors.required">Pickup Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="picklatlong" class="form-control" name="picklatlong" [(ngModel)]="user.picklatlong" #picklatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="picklatlong">Pickup lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="picklatlong.errors && (picklatlong.dirty || picklatlong.touched)">
                                        <p *ngIf="picklatlong.errors.required">Pickup Lat/long is required</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input"  name="sameas" #same (click)="sameas(same.checked)">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Drop Location is same as Pickup</span>
                            </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droploc" class="form-control" name="droploc" [(ngModel)]="user.droploc" #droploc="ngModel" required>
                                        <label class="form-control-placeholder" for="droploc">Dropoff Location*</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droploc.errors && (droploc.dirty || droploc.touched)">
                                        <p *ngIf="droploc.errors.required">Dropoff Location is required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="droplatlong" class="form-control" name="droplatlong" [(ngModel)]="user.droplatlong" #droplatlong="ngModel" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                                        <label class="form-control-placeholder" for="droplatlong">Dropoff lat,long (12.99,77.6611)</label>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="droplatlong.errors && (droplatlong.dirty || droplatlong.touched)">
                                        <p *ngIf="droplatlong.errors.required">Dropoff Lat/long is required</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5">
                                    <div class="form-group">
                                        <select name="salesExe" id="salesExe" class="form-control" style=" text-transform: uppercase" name="salesExe" [(ngModel)]="user.service_type" #salesExe="ngModel" required>
                              <option *ngFor = "let s of SaleExceutive" [value] = "s.id">{{s.first_name}} - {{s.mobile_number}}</option>
                          </select>
                                        <label class="form-control-placeholder" for="salesExe">Sales Executive*</label>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 col-sm-1">
                                    <div style="display:inline-block;margin-top: 54%;">
                                        <button type="button" (click)="showModal(4)" class="addnumber" style="background-color: white;border-color: orange;">
                                <i class="fa fa-plus" style="color:#ffa100" aria-hidden="true"></i>
                              </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div style="float:right">
                                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid || slotcheck">Schedule</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </nb-card-body>
            <nb-card-footer>

            </nb-card-footer>
        </nb-card>
    </div>
</div>