<div class="modal-header">
  <span style="text-align:center;">{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div *ngIf="visible">
        <div *ngIf="showAnimation == '1' ">
            <div class="modal-body">
    
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" style="height: 150px;margin-left: 37%;">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
                    />
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                        points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <p class="success" style="margin-left: 42%;margin-top: 5%;">Successful!</p>
            </div>
        </div>
        <div *ngIf="showAnimation == '0' ">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" style="height: 150px;margin-left: 37%;">
    
                <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
                />
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                    y1="37.9" x2="95.8" y2="92.3" />
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                    y1="38" x2="34.4" y2="92.2" />
            </svg>
    
            <p class="error" style="margin-left: 42%;margin-top: 5%;">Unsuccessful!</p>
    
        </div>
    </div>
  <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!visible">
    <div style="width:100%;margin-left:auto;margin-right:auto">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" name="name" [(ngModel)]="modalContent.first_name" required #name="ngModel" style="text-transform: capitalize;"
              minlength="3">
            <label class="form-control-placeholder" for="name">Name*</label>
          </div>
          <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
            <p *ngIf="name.errors.required"> name is required</p>
            <p *ngIf="name.errors.minlength">3 character</p>
          </div>
        </div>
      </div>
      <div class="container1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="number" class="form-control" name="mobile1" OnlyNumber="true" [(ngModel)]="modalContent.mobilenumber" required
                #mobile1="ngModel"  maxlength="10" pattern="^[0-9]{10}$" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeydown="javascript: return event.keyCode == 69 ? false : true">
              <label class="form-control-placeholder" for="mobile1">Mobile Number*</label>
            </div>
            <div class="form-control-feedback" *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched)">
              <p *ngIf="mobile1.errors.required">mobile is required</p>
              <p *ngIf="!mobile1.errors.valid">mobile must contain digits only</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="modalContent.email" required #email="ngModel"
              pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" style="text-transform: lowercase;">
            <label class="form-control-placeholder" for="email">Employee Email*</label>
          </div>
          <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="!email.errors.valid">Email must contain at least the @ character</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <select name="permission" id="permission" class="form-control" [(ngModel)]="modalContent.permission_type" required #permission="ngModel">
              <option *ngFor="let d of Designation" [value]="d.id"> {{d.type}}</option>
            </select>
            <label class="form-control-placeholder" for="permission">Designation*</label>
          </div>
          <div class="form-control-feedback" *ngIf="permission.errors && (permission.dirty || permission.touched)">
            <p *ngIf="permission.errors.required">Designation is required</p>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update User </button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <!-- <hr/> -->
    <div></div>
  </div>
</div>
