@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    padding: nb-theme(padding);
  }

  /deep/ ngx-tab1, /deep/ ngx-tab2 {
    display: block;
    padding: nb-theme(padding);
  }
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  fieldset {
  /* required to properly style form 
     elements on WebKit based browsers */
    -webkit-appearance: none;
    
    width : 100%;
    border: 2px solid #dadfe6;;
    margin: 0;
    
    font-family: inherit;
    font-size: 90%;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  select:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  select:focus:invalid {
    outline: none;
  }
  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }
}.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
