// @import '../../../@theme/styles/themes';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/bootstrap/breakpoints';
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 1.5em;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  .form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
@media only screen and (max-width: 420px) {
  .form-control-placeholder1{
    position: absolute;
    top: 21px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  .form-control {
    max-height: 35px;
    width: 100%;
    font-size: 12px;
}
.form-group{
  margin-bottom: 1.5rem;   
  margin-top: .5rem;
 }
 .form-control:focus + .form-control-placeholder1,
.form-control:valid + .form-control-placeholder1 {
font-size: 75%;
transform: translate3d(0, -100%, 0);
opacity: 1;
}
.btn.btn-primary
.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  font-size:12px;
}
.btn {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-family: Exo;
  border: 1px solid transparent;
  transition: none;
  cursor: default;
  padding: 0.60rem 1rem;
  font-size: .7rem;
  line-height: 1.25;
  border-radius: 0.375rem;
}
}
