<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <nb-card class="nb-icons">
      <nb-card-header>
        RSA
      </nb-card-header>
      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <div class="form-group">
                <input type="text" id="num" name="num" class="form-control" required [(ngModel)]="registrationNumber" #num="ngModel" style=" text-transform: uppercase" pattern="^[0-9a-zA-Z#,\-/_ .@]+$" onkeydown="javascript: return event.keyCode == 32 ? false : true">
                <label class="form-control-placeholder" for="num" id="num_label">Registration Number</label>
              </div>
              <div class="form-control-feedback" *ngIf="num.errors && (num.dirty || num.touched)">
                <p *ngIf="num.errors.required" class="haserror">Registration Number is required</p>
                <p *ngIf="!num.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
              </div>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5">
              <div class="form-group">
                <input type="number" id="mobile1" name="mobile1" class="form-control" maxlength="10" OnlyNumber="true" required [(ngModel)]="user.mobile1"
                  #mobile1="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                <label class="form-control-placeholder" for="mobile1" id="mobile_label">Customer Mobile Number</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id ="towing"  #towing [(ngModel)]="yourBoolean" value="towing" name="customRadio">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Towing </span>
              </label>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2" class="OnSpotRadio">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id ="onspot"  #onSpot [(ngModel)]="yourBoolean" value="onSpot" name="customRadio"
                   checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">On Spot Service</span>
              </label>
            </div>

            <div class="col-md-5 col-sm-5 col-lg-5" *ngIf="yourBoolean === 'onSpot'">
              <div class="form-group">
                <select name="serviceType" id="serviceType" class="form-control" name="serviceType" [(ngModel)]="user.onSpotType"  [disabled]="disabledNext" #serviceType="ngModel"
                  required (change)="service_type_selected()">
                  <option *ngFor="let c of OnSpotTypes" [value]="c.eaid"> {{c.description}}</option>
                </select>
                <label class="form-control-placeholder" for="serviceType" *ngIf="!disabledNext">On Spot Type</label>
              </div>
            </div>

            <div class="col-md-5 col-sm-5 col-lg-5" *ngIf="yourBoolean === 'towing'">
              <div class="form-group">
                <select name="TowingTruck" id="TowingTruck" class="form-control" name="TowingTruck" [(ngModel)]="user.towingTruckType" [disabled]="disabledNext" #serviceType="ngModel"
                  #TowingTruck required (change)="service_type_selected()">
                  <option *ngFor="let d of TowingTypes" [value]="d.eaid"> {{d.description}}</option>
                </select>
                <label class="form-control-placeholder" for="TowingTruck" *ngIf="!disabledNext">Select Towing Truck Type</label>
              </div>
            </div>
         
          <div class="col-md-2 col-sm-2 col-lg-2">
            <div class="NextButton">
              <button type="button" class="btn btn-warning" (click)='eligibiltycheck1()' [disabled]="!registrationNumber || !user.mobile1 || disabledNext || !selected_service_type">Next</button>
            </div>
          </div>
        </div>
          <div *ngIf="showstep2">
      
            <div class="row">
              <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                  <input type="text" id="vin" name="vin" class="form-control" [(ngModel)]="user.vin" #vin="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                  <label class="form-control-placeholder" for="vin">Vin/chassis number</label>
                </div>
                <div class="form-control-feedback" *ngIf="vin.errors && (vin.dirty || vin.touched)">
                    <p *ngIf="!vin.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                  <input type="text" id="policy" name="policy" class="form-control" [(ngModel)]="user.policy" #policy="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                  <label class="form-control-placeholder" for="policy">Policy Number</label>
                </div>
                <div class="form-control-feedback" *ngIf="policy.errors && (policy.dirty || policy.touched)">
                    <p *ngIf="!policy.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                  </div>
              </div>
              <div class="col-md-2 col-sm-2 col-lg-2" style="display:inherit">
                <div style="padding-right:29%;">
                  <button type="button" class="btn btn-warning" [disabled]="!user.vin || !user.policy" (click)="eligibiltycheck2()">Next</button>
                </div>
                <div>
                  <button type="button" class="btn btn-warning" (click)="skip()">Skip</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showstep3">
            <div class="line">
                <span class="sectionHeader">Vehicle Details</span>
            </div>
            <div class="row" *ngIf="insuranceFlag">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <select name="brand" id="brand" class="form-control" (change)="onSelectBrand($event.target.value)" [(ngModel)]="selectedBrand"
                      #brand="ngModel" required>
                      <option *ngFor="let b of brands" [value]="b.brand_id"> {{b.brand_name}}</option>
                    </select>
                    <label class="form-control-placeholder" for="brand">Vehicle Brand*</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-control-feedback" *ngIf="brand.errors && (brand.dirty || brand.touched)">
                    <p *ngIf="brand.errors.required" class="haserror">Brand is required</p>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <select name="model" id="model" class="form-control" (change)="onSelectModel($event.value)" [(ngModel)]="selectedModel" #model="ngModel"
                    required>
                    <option *ngFor="let ma of Models" [value]="ma.model_id"> {{ma.model_name}}</option>
                  </select>
                  <label class="form-control-placeholder" for="model">Vehicle Model*</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-control-feedback" *ngIf="model.errors && (model.dirty || model.touched)">
                  <p *ngIf="model.errors.required" class="haserror">Model is required</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <select name="variant" id="variant" class="form-control" (change)="onSelectVariant($event.value)" [(ngModel)]="selectedVariant"
                    #variant="ngModel" required>
                    <option *ngFor="let va of Variant" [value]="va.variant_id"> {{va.variant_name}}</option>
                  </select>
                  <label class="form-control-placeholder" for="ServiceAdvisor">Vehicle Variant*</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-control-feedback" *ngIf="variant.errors && (variant.dirty || variant.touched)">
                  <p *ngIf="variant.errors.required" class="haserror">Variant is required</p>
                </div>
              </div>
            </div>
              <span class="sectionHeader">Customer Details</span>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-8 col-12 CustomerSection" >
                <div class="form-group salutation">
                  <select id="salutation1" class="form-control" name="salutation1" [(ngModel)]="user.salutation" #salutation1="ngModel" required>
                    <option *ngFor="let s of salutation" [value]="s.type"> {{s.type}}</option>
                  </select>
                </div>
                <div class="form-group CusName">
                  <input type="text" id="Cus_name" class="form-control" required [(ngModel)]="cust_details.first_name" name="Cus_name" #Cus_name="ngModel"
                    style="text-transform: capitalize;" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                  <label class="form-control-placeholder" for="Cus_name">Customer Name*</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-control-feedback" *ngIf="Cus_name.errors && (Cus_name.dirty || Cus_name.touched)">
                  <p *ngIf="Cus_name.errors.required" class="haserror">Customer Name is required</p>
                  <p *ngIf="!Cus_name.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                </div>
              </div>
            </div>
            <div class="container1">
              <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                  <div class="form-group" style="display:inline-block;max-width: 16%;">
                    <label for="countrycode" class="countryCodelabel">Country Code</label>
                    <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;" class="cCode">C.Code</label>
                    <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1"
                      required #countrycode>
                  </div>
                  <div class="form-group mobile1">
                    <input type="text" class="form-control" name="mobile1" maxlength="10" [(ngModel)]="cust_details.mobile" required OnlyNumber="true"
                      #mobile1="ngModel" pattern="^[0-9]{10}$">
                    <label class="form-control-placeholder" for="mobile1">Mobile Number*</label>
                  </div>
                  <div style="display:inline-block;margin:3%">
                    <button type="button" (click)="show1=!show1" class="addnumber">
                      <i class="fa" [ngClass]="{'fa-plus': !show1, 'fa-minus': show1}" style="color:#ffa100" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="form-control-feedback" *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched)">
                    <p *ngIf="mobile1.errors.required" class="haserror">mobile is required</p>
                    <p *ngIf="!mobile1.errors.valid " class="haserror">mobile must contain digits only</p>
                  </div>
                </div>
              </div>
              <div *ngIf="show1 ">
                <div class="row">
                  <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                    <div class="form-group" style="display:inline-block;max-width: 16%;">
                      <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;">Country Code</label>
                      <input type="text" class="form-control" name="countrycode" OnlyNumber="true" [readonly]="true" value="+91" [(ngModel)]="countrycode1"
                        required #countrycode="ngModel">
                    </div>
                    <div class="form-group" style="display:inline-block;min-width:58%;">
                      <input type="text" class="form-control" name="mobile2" maxlength="10" [(ngModel)]="cust_details.mobile2" OnlyNumber="true"
                        #mobile2="ngModel" pattern="^[0-9]{10}$">
                      <label class="form-control-placeholder" for="mobile2">Mobile2 Number*</label>
                    </div>
                    <div class="form-control-feedback" *ngIf="mobile2.errors && (mobile2.dirty || mobile2.touched)">
                      <p *ngIf="!mobile2.errors.valid" class="haserror">mobile must contain digits only</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <input type="text" id="email" class="form-control" name="email" [(ngModel)]="cust_details.email" #email="ngModel" required
                    pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" style="text-transform: lowercase;">
                  <label class="form-control-placeholder" for="email">Email Id*</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                  <p *ngIf="email.errors.required" class="haserror">Email is required</p>
                  <p *ngIf="!email.errors.valid" class="haserror">Email must contain at least the @ character</p>
                </div>
              </div>
            </div>
              <span class="sectionHeader">Service Details</span>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="custloc" class="form-control" name="custloc" [(ngModel)]="user.custloc" #custloc="ngModel" required pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                    <label class="form-control-placeholder" for="custloc">BreakDown Location*</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="custloc.errors && (custloc.dirty || custloc.touched)">
                    <p *ngIf="custloc.errors.required" class="haserror">BreakDown Location is required</p>
                    <p *ngIf="!custloc.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="custlatlong" class="form-control" name="custlatlong" [(ngModel)]="user.custlatlong" #custlatlong="ngModel"
                      pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                    <label class="form-control-placeholder" for="droplatlong">BreakDown lat/long</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="custlatlong.errors && (custlatlong.dirty || custlatlong.touched)">
                    <p *ngIf="!custlatlong.errors.valid" class="haserror">format is wrong</p>
                  </div>
                </div>
              </div>
              <div *ngIf="yourBoolean === 'towing'">
              <div class="row" *ngIf="insuranceFlag">
                  <div class="col-md-6 col-lg-6 col-sm-6">
                      <div class="form-group">
                          <select name="city" id="city" class="form-control" [(ngModel)]="user.city" required #city="ngModel" (change)="onCity($event)">
                            <option *ngFor="let d of cityList" [value]="d.cityid"> {{d.cityname}}</option>
                          </select>
                          <label class="form-control-placeholder" for="city">City*</label>
                        </div>
    
    
                        <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                          <p *ngIf="city.errors.required" class="haserror">City is required</p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6" *ngIf="showsvclist">
                      <div class="form-group">
                          <select id="svclist" class="form-control" name="svclist" [(ngModel)]="user.svc" #svclist="ngModel"
                            required >
                            <optgroup label="{{i.associated}}" *ngFor="let i of svcList;let j = index;">
                              <option [value]="i.id">{{i.name}}</option>
                            </optgroup>
                          </select>
                          <label class="form-control-placeholder" for="svclist">Service Centre List*</label>
                        </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div *ngIf="yourBoolean === 'towing'" class="CheckBox">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="svc" #svc (click)="some(svc.checked)">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Service Centre</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="showsvclist && !insuranceFlag">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <select name="svc1" id="svc1" class="form-control" [(ngModel)]="user.svc1" #svc1="ngModel" required>
                      <option *ngFor="let s of Svclist" [value]="s.id"> {{s.name}}</option>
                    </select>
                    <label class="form-control-placeholder" for="svc1">Service Centre*</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="svc1.errors && (svc1.dirty || svc1.touched)">
                    <p *ngIf="svc1.errors.required" class="haserror">Service Centre is required</p>
                  </div>
                </div>
              </div>
   
              <div *ngIf="yourBoolean === 'towing'">
                <div class="row" *ngIf="hideDropoff">
                  <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="dropoff" class="form-control" name="dropoff" [(ngModel)]="user.dropoff" #dropoff="ngModel" required pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                      <label class="form-control-placeholder" for="custloc">Drop-off Location*</label>
                    </div>
                    <div class="form-control-feedback" *ngIf="dropoff.errors && (dropoff.dirty || dropoff.touched)">
                      <p *ngIf="dropoff.errors.required" class="haserror">Drop-off Location is required</p>
                      <p *ngIf="!dropoff.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="dropofflatlong" class="form-control" name="dropofflatlong" [(ngModel)]="user.dropofflatlong" #dropofflatlong="ngModel"
                        pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$">
                      <label class="form-control-placeholder" for="dropofflatlong">Drop-off lat/long</label>
                    </div>
                    <div class="form-control-feedback" *ngIf="dropofflatlong.errors && (dropofflatlong.dirty || dropofflatlong.touched)">
                      <p *ngIf="!dropofflatlong.errors.valid " class="haserror">format is wrong</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="yourBoolean === 'towing'">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="notes" class="form-control" name="notes" [(ngModel)]="user.notes"  #notes="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                    <label class="form-control-placeholder" for="notes">Notes</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="amt" class="form-control" name="amt" [(ngModel)]="user.amt"  #amt="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                    <label class="form-control-placeholder" for="notes">Estimated Amount</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="amt.errors && (amt.dirty || amt.touched)">
                      <p *ngIf="!amt.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                    </div>
                </div>
              </div>
              <div class="row" *ngIf="yourBoolean != 'towing'">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="amt" class="form-control" name="amt" [(ngModel)]="user.amt" #amt="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                    <label class="form-control-placeholder" for="notes">Estimated Amount</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="amt.errors && (amt.dirty || amt.touched)">
                      <p *ngIf="!amt.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" id="notes" class="form-control" name="notes" [(ngModel)]="user.notes" #notes="ngModel" pattern="^[0-9a-zA-Z#,\-/_ .@]+$">
                    <label class="form-control-placeholder" for="notes">Notes</label>
                  </div>
                  <div class="form-control-feedback" *ngIf="notes.errors && (notes.dirty || notes.touched)">
                      <p *ngIf="!notes.errors.valid" class="haserror">\$^*'}'`;> these characters are not accepted</p>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div style="float:right">
                    <button type="submit" class="btn btn-primary">Schedule</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
    </div>
  </div>