<div class="example-container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <nb-card size="large">
        <nb-tabset (changeTab)="tabChanged($event)">
          <nb-tab tabTitle="Add User" *ngIf="CheckGrpAdmin || CheckSvcAdmin" id=1>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                  <div class="row" >
                    <div class="col-md-12 col-lg-12 col-sm-12 col-12" style="display: flex">
                      <div class="form-group" style="display:inline-block;min-width:15%;padding-right: 3%">
                        <select id="salutation1" class="form-control" name="salutation1" [(ngModel)]="user.salutation" #salutation1="ngModel" required>
                          <option *ngFor="let s of salutation" [value]="s.type"> {{s.type}}</option>
                        </select>
                        <label class="form-control-placeholder" for="salutation1">Title*</label>
                      </div>
                      <div class="form-group" style="display:inline-block;min-width:81%;">
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" required #name="ngModel" minlength="3" style="text-transform: capitalize;">
                        <label class="form-control-placeholder" for="name">Name*</label>
                      </div>
                    </div>
                    <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                      <p *ngIf="name.errors.required" class="haserror" style="width: 100%;padding-left: 7%;"> Name is required</p>
                      <p *ngIf="name.errors.minlength" class="haserror">3 character</p>
                    </div>
                  </div>
                  <div style="width:100%;margin-left:auto;margin-right:auto">
                    <div class="container1">
                      <div class="form-group" style="display:inline-block;max-width: 16%;">
                        <label for="countrycode" class="countryCode">Country Code</label>
                        <label for="countrycode" style="font-size: 12px;padding-left: 2%;margin-bottom: 0px;" class="cCode">C.Code</label>
                        <input type="text" class="form-control" id="codeinput" name="code" OnlyNumber="true" [readonly]="true" [(ngModel)]="CountryCode">
                      </div>
                      <div class="form-group" style="display:inline-block;min-width: 82%;">
                        <input type="number" class="form-control" name="mobile1" [(ngModel)]="model.mobile1" maxlength={{maxLen}} required #mobile1="ngModel" pattern="^[0-9]{8,10}$" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                        <label class="form-control-placeholder" for="mobile1">Mobile Number*</label>
                      </div>
                      <div class="form-control-feedback" *ngIf="mobile1.errors && (mobile1.dirty || mobile1.touched)">
                        <p *ngIf="mobile1.errors.required" class="haserror">mobile is required</p>
                        <p *ngIf="!mobile1.errors.valid" class="haserror">mobile must contain digits only</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" required #email="ngModel" pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" style="text-transform: lowercase;">
                      <label class="form-control-placeholder" for="email">Employee Email*</label>
                    </div>
                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                      <p *ngIf="email.errors.required" class="haserror">Email is required</p>
                      <p *ngIf="!email.errors.valid" class="haserror">Email must contain at least the @ character</p>
                    </div>
                    <div class="form-group">
                      <select name="desgination" id="desgination" class="form-control" [(ngModel)]="model.desgination" required #desgination="ngModel">
                        <option *ngFor="let d of Designation" [value]="d.id"> {{d.type}}</option>
                      </select>
                      <label class="form-control-placeholder" for="desgination">Designation*</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="User List" id=2>
            <div class="row desktopView" style="width:100%">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8"> </div>
                    <div class="col-md-4 col-lg-4 col-sm-4" style="padding-bottom: 4%">
                      <input type="text" class="search" [(ngModel)]="SearchData" placeholder="search" style="height: 104%;">
                    </div>
                  </div>
                  <table class="table">
                    <thead style="border-top:0px;">
                      <th (click)="sort('first_name')">Name
                        <span>
                          <i class="fa" *ngIf="key =='first_name'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100"
                            aria-hidden="true"></i>
                        </span>
                      </th>
                      <th (click)="sort('mobilenumber')">Number
                        <span>
                          <i class="fa" *ngIf="key =='mobilenumber'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100"
                            aria-hidden="true"></i>
                        </span>
                      </th>
                      <th (click)="sort('email')">Email Id
                        <span>
                          <i class="fa" *ngIf="key =='email'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100"
                            aria-hidden="true"></i>
                        </span>
                      </th>
                      <th (click)="sort('designation')">Designation
                        <span>
                          <i class="fa" *ngIf="key =='designation'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100"
                            aria-hidden="true"></i>
                        </span>
                      </th>
                      <th *ngIf="CheckGrpAdmin || CheckSvcAdmin">Edit</th>
                      <th *ngIf="CheckGrpAdmin || CheckSvcAdmin">Delete</th>

                    </thead>
                    <tbody>
                      <tr *ngFor="let e of userList | orderBy: key : reverse | filter : SearchData;let i = index; ">
                        <td>{{e.first_name}}</td>
                        <td>{{e.mobilenumber}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.designation}}</td>
                        <td *ngIf="CheckGrpAdmin || CheckSvcAdmin">
                            <button (click)="showLargeModal(e)" style="background-color: white;border-color: orange;" *ngIf="CheckGrpAdmin || CheckSvcAdmin">
                              <i class="fa fa-pencil" style="color:#ffa100" aria-hidden="true"></i>
                            </button>
                          </td>
                        <td *ngIf="CheckGrpAdmin || CheckSvcAdmin">
                          <button (click)="Delete(e,i)" style="background-color: white;border-color: orange;" >
                            <i class="fa fa-trash" style="color:#ffa100" aria-hidden="true"></i>
                          </button>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="mobileView">
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-12 SearchCol">
                      <div class="input-group has-person-icon">
                        <input type="text" [(ngModel)]="SearchData" placeholder="search" class="form-control search" style="max-height:20px !important"
                        />
                      </div>
                    </div>
                  </div>
                  <ul>
                    <li *ngFor="let e of userList | filter:SearchData">
                      <div class="card">

                        <div class="row">
                          <div class="col-12 col-sm-12">
                            <span class="QueueId">{{e.first_name}}</span>
                          </div>
                        </div>
                        <div class="row CustomerRow">
                          <div class="col-12 col-sm-12">
                            <div>{{e.designation}}</div>
                          </div>
                        </div>
                        <div class="row CustomerRow">
                          <div class="col-12 col-sm-12">
                            <div>{{e.mobilenumber}}</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-12">
                            <span>{{e.email}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-6"></div>
                          <div class="col-sm-6 col-6" style="padding:0px">
                            <span style="padding-left: 39%;">
                              <button (click)="showLargeModal(e)" style="background-color: white;border-color: orange;" *ngIf="CheckGrpAdmin || CheckSvcAdmin">
                                <i class="fa fa-pencil" style="color:#ffa100" aria-hidden="true"></i>
                              </button>
                            </span>
                            <span style="padding-left: 8%;">

                              <button (click)="delete(e,i)" style="background-color: white;border-color: orange;" *ngIf="CheckGrpAdmin || CheckSvcAdmin">
                                <i class="fa fa-trash" style="color:#ffa100" aria-hidden="true"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
                </div>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Disabled User" *ngIf="CheckGrpAdmin || CheckSvcAdmin" id=3>
            <div class="row desktopView" style="width:100%">
              <div class="col-lg-12 col-md-12">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"> </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="padding-bottom: 4%">
                      <input type="text" class="search" [(ngModel)]="searchText" placeholder="search" style="height: 104%">
                    </div>
                  </div>
                  <table class="table">
                    <thead style="border-top:0px;">
                      <th>Name</th>
                      <th>Number</th>
                      <th>Email Id</th>
                      <th>Designation</th>
                      <th *ngIf="CheckGrpAdmin || CheckSvcAdmin">Enable</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let e of userDisable| filter : searchText;let i = index ">
                        <td>{{e.first_name}}</td>
                        <td>{{e.mobilenumber}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.designation}}</td>
                        <td>
                          <button class="btn btn-warning enableButton" *ngIf="CheckGrpAdmin || CheckSvcAdmin" (click)="EnableUser(e,i)">
                            Enable
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="mobileView">
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-12 SearchCol">
                      <div class="input-group has-person-icon">
                        <input type="text" [(ngModel)]="term" placeholder="search" class="form-control search" style="max-height:20px !important"
                        />
                      </div>
                    </div>
                  </div>
                  <ul>
                    <li *ngFor="let e of userDisable | filter:term">
                      <div class="card">
                        <div class="row">
                          <div class="col-6 col-sm-6">
                            <span class="QueueId">{{e.first_name}}</span>
                          </div>
                          <div class="col-6 col-sm-6" style="float: right;    padding-left: 25%;">
                            <span>
                              <button class="btn btn-warning enableButton" *ngIf="CheckGrpAdmin || CheckSvcAdmin" (click)="EnableUser(e,i)" style="padding: 4px;
                              font-size: 9px;">
                                Enable
                              </button>
                            </span>
                          </div>
                        </div>
                        <div class="row CustomerRow">
                          <div class="col-12 col-sm-12">
                            <div>{{e.mobilenumber}}</div>
                          </div>
                        </div>
                        <div class="row CustomerRow">
                          <div class="col-12 col-sm-12">
                            <div>{{e.designation}}</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-12">
                            <span>{{e.email}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
                </div>
              </div>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  </div>
