<nb-card class="desktopView">
  <nb-card-header>
    Pickup
  </nb-card-header>
  <nb-card-body>
    <div>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectStartDate($event)" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary dateButton" (click)="d1.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectEndDate($event)" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button type="button" class="btn btn-primary" (click)="FilterCheck(1)">Apply</button>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6">

          </div>
          <div class="col-md-6 col-lg-6 col-sm-6">
            <input type="text" class="search" [(ngModel)]="SearchData" placeholder="search">
          </div>
        </div>
      </div>
      <table style="width:100%">
        <thead>
          <tr>
            <th (click)="sort('queueid')">ID
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th (click)="sort('amb_name')">Ambassador
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>

            <th (click)="sort('queue_time')">Queue Time
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th (click)="sort('cust_name')">Customer
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th (click)="sort('veh_number')">LIC Plate
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th (click)="sort('cre_name')">CRE
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th (click)="sort('queue_status')">Status
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse , 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
            <th *ngIf="InsuranceCheck" (click)="sort('svc_name')">SVC Name
              <span class="sort-span">
                <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData  | orderBy: key : reverse |  filter:SearchData  | paginate: { id: 'server', itemsPerPage:DataPerPage, currentPage: page + 1, totalItems: RecordCount }; let j = index"
            (click)="openQDetails(i.queueid)">
            <td>{{item.queueid}}</td>
            <td>
              <div style="display:inline-block">
                <span>
                  <img src="{{item.amb_url}}" class="AmbImg" (error)="img($event);">
                </span>
              </div>
              <div style="display:inline-block">
                <span>{{item.amb_name}}</span>
                <p>{{item.amb_mobile}}</p>
              </div>
            </td>
            <td>{{item.queue_time}}</td>
            <td>{{item.cust_name}}</td>
            <td>{{item.veh_number}}</td>
            <td>{{item.cre_name}}</td>
            <td>{{item.queue_status}}</td>
            <td *ngIf="InsuranceCheck">{{item.svc_name}}</td>
          </tr>
        </tbody>
      </table>
      <table class="NoData" *ngIf="MessageNoData">
        {{MessageNoData}}
      </table>
      <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
      <div class="paginate">
        <pagination-controls (pageChange)="FilterCheck($event)" id="server"></pagination-controls>
      </div>
      </div>
  </nb-card-body>
</nb-card>
<div class="mobileView">
  <div class="row headerRow">
    <div class="col-4 col-sm-4">
      <div class="header">Pickup</div>
    </div>
    <div class="col-8 col-sm-8">
      <div class="right-inner-addon">
        <i class="fa fa-search"></i>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="SearchData" />
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectStartDate($event)" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dateButton" (click)="d2.toggle()" type="button" style="height: 100%;width: 100%">
              <span>
                <i class="fa fa-calendar"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectEndDate($event)" ngbDatepicker #d3="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dateButton" (click)="d3.toggle()" type="button" style="height: 100%;width: 100%">
              <span>
                <i class="fa fa-calendar"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row applyRow">
    <div class="col-sm-8 col-8"></div>
    <div class="col-sm-2 col-2 applyCol">
      <button type="button" class="btn btn-primary apply" (click)="FilterCheck(1)">Apply</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="NoData" *ngIf="MessageNoData">{{MessageNoData}}</div>
      <ul>
        <li *ngFor="let i of pickup |filter:SearchData | paginate: { id: 'server', itemsPerPage:DataPerPage, currentPage: page + 1, totalItems: RecordCount }; let j = index"
          (click)="openQDetails(i.queueid)">
          <div class="card">
            <div class="row padding" *ngIf="InsuranceCheck">
              <div class="col-12 col-sm-12">
                <span class="QueueId">{{i.svc_name}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-3 col-sm-3">
                <div>
                  <img src="{{i.amb_url}}" class="ambinfo" (error)="img($event);" />
                </div>
              </div>
              <div class="col-9 col-sm-9">
                <span class="QueueId">ID &nbsp;:&nbsp; {{i.queueid}}</span>
                <span class="vehNumber">
                  <span class="Ind">IND</span>{{i.veh_number}}</span>
                <p class="ambName">{{i.amb_name}}</p>
                <p class="ambNumber">{{i.amb_mobile}}</p>
              </div>
            </div>
         
    <div class="row">
      <div class="col-12 col-sm-12">
        <span class="title">Customer Name : </span>
        <span>{{i.cust_name}}</span>
      </div>
    </div>
    <div>
      <p class="step1 withBefore"></p>
      <p class="step1" style="float: right;background-color: white;border:3px solid #109B57"></p>
    </div>
    <div>
      <p>{{i.newdate}} | {{i.newtime}}</p>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12">
        <span class="title">CRE Name : </span>
        <span>{{i.cre_name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 QueueStatus">{{i.queue_status}}</div>
    </div>
  </div>
  </li>
  </ul>
  <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
  <div class="paginate">
    <pagination-controls (pageChange)="FilterCheck($event)" id="server" *ngIf="!MessageNoData"></pagination-controls>
  </div>
</div>
</div>
</div>
