<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <nb-card class="nb-icons">
      <nb-card-header>
        Search Result
      </nb-card-header>
      <nb-card-body>
          <!-- <toaster-container [toasterconfig]="config"></toaster-container> -->
        <div>
          <div>
            <table class="table">
              <tr>
                <th>Queue Id</th>
                <th>Queue Date</th>
                <th>Queue Time</th>
                <th>Customer Name</th>
                <th>Customer Number</th>
                <!-- <th>LIC Plate</th> -->
                <th>Status</th>
                <th>Upload</th>
              </tr>
              <tr *ngFor="let r of report" (click)="openQDetails(r.id)">
                <td>{{r.id}}</td>
                <td>{{r.queue_date}}</td>
                <td>{{r.queue_time}}</td>
                <td>{{r.cust_name}}</td>
                <td>{{r.cust_number}}</td>
                <!-- <td>{{r.veh_number}}</td> -->
                <td>{{r.queue_status}}</td>
                <td *ngIf="r.upload_button"><button class="btn btn-warning" (click)="showModal(r)">{{r.upload_button}}</button></td>
                <!-- <td>{{r.upload_button}}</td> -->
              </tr>
            </table>
          </div>
        </div>
       
   
       
      </nb-card-body>
      <nb-card-footer>

        </nb-card-footer>
      </nb-card>
    </div>
  </div>

