<div class="row desktopView">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <nb-card class="nb-icons">
            <nb-card-header>
                Search Result
            </nb-card-header>
            <nb-card-body>
                <!-- <toaster-container [toasterconfig]="config"></toaster-container> -->
                <div>
                    <div>
                            <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6">
                        
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6">
                                            <input [(ngModel)]="searchText" placeholder="search" class="search" class="search">
                                    </div>
                                </div>
                        
                        <table class="table">
                            <tr>
                                <th (click)="sort('id')">Queue Id
                                    <span><i class="fa" *ngIf="key =='id'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('queue_date')">Queue Date
                                    <span><i class="fa" *ngIf="key =='queue_date'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('queue_time')">Queue Time
                                    <span><i class="fa" *ngIf="key =='queue_time'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('cust_name')">Customer Name
                                    <span><i class="fa" *ngIf="key =='cust_name'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('cust_number')">Customer Number
                                    <span><i class="fa" *ngIf="key =='cust_number'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>

                                <th (click)="sort('queue_status')">Status
                                    <span><i class="fa" *ngIf="key =='queue_status'" [ngClass]="{'fa-sort-alpha-asc':reverse, 'fa-sort-alpha-desc':!reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th *ngIf="InsuranceCheck" (click)="sort('svc_name')">SVC Name
                                        <span class="sort-span">
                                          <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
                                        </span>
                                      </th>
                                <th>Upload</th>
                            </tr>
                            <tr *ngFor="let r of report  | orderBy: key : reverse | filter : searchText" >
                                <td (click)="openQDetails(r.id)">{{r.id}}</td>
                                <td (click)="openQDetails(r.id)">{{r.queue_date}}</td>
                                <td (click)="openQDetails(r.id)">{{r.queue_time}}</td>
                                <td (click)="openQDetails(r.id)">{{r.cust_name}}</td>
                                <td (click)="openQDetails(r.id)">{{r.cust_number}}</td>
                                <td (click)="openQDetails(r.id)">{{r.queue_status}}</td>
                                <td *ngIf="InsuranceCheck">{{i.svc_name}}</td>
                                <td *ngIf="r.upload_button"><button class="upload-button"  (click)="showModal(r)">{{r.upload_button}}</button></td>

                            </tr>
                        </table>
                    </div>
                </div>



            </nb-card-body>
            <nb-card-footer>

            </nb-card-footer>
        </nb-card>
    </div>
</div>
<div class="mobileView">
        <div class="row" style="min-height: 25px;padding-top: 3%;">
          <div class="col-12 col-sm-12">
            <div class="header" style="display: inline">Search</div>
            <div style="display: inline;padding-right: 4%;float:right;position: relative;">
               <input placeholder="Search term">
                <span><i class="fa fa-search" style="position: absolute;"></i></span>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 col-sm-12">
              <div *ngIf="message">{{message}}</div>
            <ul>
              <li *ngFor="let r of report|filter:searchText" (click)="openQDetails(i.queueid)">
                <div class="card">
                        <div class="row padding" *ngIf="InsuranceCheck">
                                <div class="col-12 col-sm-12">
                                    <span class="QueueId">{{i.svc_name}}</span>
                                </div>
                              </div>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="QueueId">ID &nbsp;:&nbsp;{{r.id}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <div>{{r.cust_name}}</div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-12 col-sm-12">
                          <div>{{r.cust_number}}</div>
                        </div>
                      </div>
                      <div class="row">
                            <div class="col-12 col-sm-12">
                              <span> Service Time : {{r.newdate}} {{r.newtime}}</span>
                            </div>
                          </div>
            
                          <div class="row">
                                <div class="col-7 col-sm-7 QueueStatus">{{r.queue_status}}</div>
                                <div class="col-5 col-sm-5 buttonCol">
                                  <button type="button" class="button" (click)="uploadFiles(i)">{{r.upload_button}}</button>
                                </div>
                              </div>
                </div>
              </li>
            </ul>
            <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
            <!-- <div class="paginate">
              <pagination-controls (pageChange)="FilterCheck($event)" id="server"  *ngIf="!message"></pagination-controls>
            </div> -->
          </div>
        </div>
      </div>