<nb-card class="desktopView">
  <nb-card-header>
    Chauffeur
  </nb-card-header>
  <nb-card-body>
    <div>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectStartDate($event)" 
                ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary dateButton" (click)="d1.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectEndDate($event)"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button type="button" class="btn btn-primary" (click)="FilterCheck(1)">Apply</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6">

      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <input type="text" class="search" [(ngModel)]="SearchData" placeholder="search">
      </div>
    </div>
    <table style="width:100%">
      <thead>
        <tr>
          <th (click)="sort('queueid')">ID
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('amb_name')">Chauffeur
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>

          <th (click)="sort('cust_name')">Customer
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('veh_number')">License Plate
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('pickup_address')">PickUp Location
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('dropoff_address')">Drop-off Location
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('queueid')">Started At
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
          <th (click)="sort('queue_state')">Service
            <span class="sort-span">
              <i class="fa" [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of chauffeur |filter:SearchData | orderBy: key : reverse| paginate: { id: 'server', itemsPerPage:DataPerPage, currentPage: page + 1, totalItems: RecordCount } let j = index"
          (click)="openQDetails(i)">
          <td>{{i.queueid}}</td>
          <td>
            <div style="display:inline-block">
                <span><img src="{{i.amb_url}}" class="AmbImg" alt="Amb Photo" (error)="img($event);"></span>
            </div>
            <div style="display:inline-block">
                <span>{{i.amb_name}}</span><p>{{i.amb_mobile}}</p>
            </div>
            </td>

          <td>{{i.cust_name}}</td>
          <td>{{i.veh_number}}</td>
          <td>{{i.pickup_address}}</td>
          <td>{{i.dropoff_address}}</td>
          <td>{{i.start_time}}</td>
          <td>{{i.queue_state}}</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="MessageNoData">
      {{MessageNoData}}
</table>
    <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
    <div class="paginate">
      <pagination-controls (pageChange)="FilterCheck($event)" id="server"></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>
<div class="mobileView">
  <div class="row headerRow">
    <div class="col-4 col-sm-4">
      <div class="header">Chauffeur</div>
    </div>
    <div class="col-8 col-sm-8">
      <div class="right-inner-addon">
        <i class="fa fa-search"></i>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="SearchData" />
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectStartDate($event)" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dateButton" (click)="d2.toggle()" type="button" style="height: 100%;width: 100%">
              <span>
                <i class="fa fa-calendar"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectEndDate($event)" ngbDatepicker #d3="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dateButton" (click)="d3.toggle()" type="button" style="height: 100%;width: 100%">
              <span>
                <i class="fa fa-calendar"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row applyRow">
    <div class="col-sm-8 col-8"></div>
    <div class="col-sm-2 col-2 applyCol">
      <button type="button" class="btn btn-primary apply" (click)="FilterCheck(1)">Apply</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
        <div class="NoData" *ngIf="message"> {{message}}</div>
      <ul>
        <li *ngFor="let i of chauffeur |filter:SearchData" (click)="openQDetails(i)">
          <div class="card">
            <div class="row" style="padding-bottom: 5%;">
              <div class="col-3 col-sm-3">
                <div><img src="{{i.amb_url}}" class="ambinfo" (error)="img($event);"/>
              </div>
              </div>
              <div class="col-9 col-sm-9">
                <span class="QueueId">ID &nbsp;:&nbsp; {{i.queueid}}</span>
                <span class="vehNumber"><span class="Ind">IND</span>{{i.veh_number}}</span>
                <p class="ambName">{{i.amb_name}}</p>
                <p class="ambNumber">{{i.amb_mobile}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="title" style="padding-bottom: 8%">Pickup Location : </div>
                <p>{{i.pickup_address}}</p>
              </div>
              <div class="col-6 col-sm-6">
                <div class="title" style="padding-bottom: 8%">Dropoff Location : </div>
                <p>{{i.dropoff_address}}</p>
              </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12"><span class="title">Customer Name </span><span class="title">:</span><span>{{i.cust_name}}</span></div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12"><span class="title" style="padding-right: 13%;">Started At  </span><span class="title" >:</span><span>{{i.newdate}} {{i.newtime}}</span></div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 QueueStatus">
                <span>{{i.queue_state}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
      <div class="paginate">
        <pagination-controls (pageChange)="FilterCheck($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
</div>
