<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--   -->
  <div class="form-group" style="margin:5%">
    <select class="form-control" name="list" [(ngModel)]="SelectedSvcid" required>
      <option *ngFor="let item of List" [ngValue]="item.id"> {{item.name}} </option>
    </select>
  </div>
<!-- </div> -->
<div>
  <div style="margin:5%">
    <button class="btn btn-warning" (click)="SelectSvcid()">Select</button>
  </div>
</div>
