.heading{
    text-align: center;
    margin-bottom: 3%;
}
.main{
    overflow-y: scroll;
    height:400px;
    padding:5%;
}
.checkbox{
    padding:2%;
}
.table-heading{
    text-align: center;
    font-weight: 700;
    padding: 2%
}
table ,th , td,tr{
    border:1px solid black;
}
.title{
    padding:2%;
}