<nb-card item-height="150px">
    <nb-card-body>
        <div class="location">
            <span>Notification</span>
        </div>
        <hr>
        <!-- <div class="topic">
      <a class="topic_title" style="width: 100%;" (click)="navigateNotCheckedin()">Not CheckedIn 
        <span class="topic_count" style="float:right">12</span>
      </a>
    </div> -->
        <!-- <hr /> -->
        <div class="topic">
            <a class="topic_title" style="width: 100%;" (click)="navigatePaused()">Paused Pickup
            <span class="topic_count" style="float:right">{{notification.queue_paused_pickup}}</span>
          </a>
        </div>
        <hr/>
        <div class="topic">
            <a class="topic_title" style="width: 100%;" (click)="navigatePaused()">Paused Drop-off
            <span class="topic_count" style="float:right">{{notification.queue_paused_dropoff}}</span>
          </a>
        </div>
        <hr />
        <div class="topic">
            <a class="topic_title" style="width: 100%;" (click)="navigateCancelled()">Cancelled
            <span class="topic_count" style="float:right">{{notification.queue_cancelled}}</span>
          </a>
        </div>
        <hr/>
        <!-- <div class="topic">
            <a class="topic_title" style="width: 100%;">Notification
            <span class="topic_count" style="float:right">12</span>
          </a>
        </div>
        <hr/> -->
        <div class="topic">
            <a class="topic_title" style="width: 100%;">Rescheduled
            <span class="topic_count" style="float:right">{{notification.queue_rescheduled}}</span>
        </a>
        </div>
        <hr/>
        <div class="topic">
            <a class="topic_title" style="width: 100%;" (click)="navigateMishap()">Mishaps 
          <span class="topic_count" style="float:right">{{notification.queue_mishaps}}</span>
        </a>
        </div>

    </nb-card-body>
</nb-card>