<nb-card>
    <nb-card-body>
        <div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectDate1($event)" placeholder="{{pastdate | date: 'yyyy-MM-dd'}}" ngbDatepicker #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dateButton" (click)="d1.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                                  <span><i class="fa fa-calendar"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectDate($event)" placeholder="{{today | date: 'yyyy-MM-dd'}}" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dateButton" (click)="d.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                                  <span><i class="fa fa-calendar"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-primary" (click)="FilterCheck()">Apply</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <input type="text" class="search" [(ngModel)]="term" placeholder="search">
            </div>
        </div>
        <table style="width:100%">
            <thead>
                <tr>
                    <th (click)="sort('queueid')">ID
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                    <th (click)="sort('cust_name')">Customer
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                    <th (click)="sort('veh_number')">License Plate
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                    <th (click)="sort('queue_time')">Slot
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                    <th (click)="sort('cre_name')">CRE
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                    <th (click)="sort('queueid')">Reason
                        <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of paused | orderBy: key : reverse |filter:term; let j = index" (click)="openQDetails(i)">
                    <td>{{i.queueid}}</td>
                    <td>{{i.cust_name}}</td>
                    <td>{{i.veh_number}}</td>
                    <td>{{i.queue_time}}</td>
                    <td>{{i.cre_name}}</td>
                    <!-- <td>{{i.(select description from 21N_queue_pause_reasons where id = (select reasonid from 21N_queue_pause_reasons_list where queueid = 21N_queue.id order by id desc limit 1))}}</td> -->
                </tr>
            </tbody>
        </table>
        <table *ngIf="message">
            {{message}}
        </table>
    </nb-card-body>
</nb-card>