nb-card {
    transform: translate3d(0, 0, 0);
}

table,
th,
td {
    border: 1px solid rgb(218, 223, 230);
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

tbody tr:hover {
    background-color: lightyellow;
    @import '../../@theme/styles/themes';
    @import '~bootstrap/scss/mixins/breakpoints';
    @import '~@nebular/theme/styles/global/bootstrap/breakpoints';
    nb-card {
        transform: translate3d(0, 0, 0);
    }
    table,
    th,
    td {
        border: 1px solid rgb(218, 223, 230);
        border-collapse: collapse;
    }
    th,
    td {
        padding: 15px;
    }
    tbody tr:hover {
        background-color: lightyellow;
    }
    @include media-breakpoint-down(md) {
        nb-card {
            font-size: 1rem;
            padding: 2.0rem 0 0.25rem 0;
        }
    }
}