<nb-card item-height="210px">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Chat (under development)">
        <div class="container" style="width: 80%;    margin-left: 10px;">
            <img src="assets/images/21north-logo.png" alt="Avatar" style="width:100%;">
            <p>Hello. How can I help you?</p>
            <span class="time-right">11:00</span>
          </div>
          <div class="container darker" style="margin-left: auto;width: 80%;    margin-right: 10px;">
              <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;"> -->
              <p>Share Ambassador details for Vinoth K</p>
              <span class="time-left">11:01</span>
            </div>
            <div class="container" style="width: 80%;    margin-left: 10px;">
                <img src="assets/images/21north-logo.png" alt="Avatar" style="width:100%;">
                <p>Can you please give me Queue Id</p>
                <span class="time-right">11:02</span>
              </div>
              <div class="container darker" style="margin-left: auto;width: 80%;    margin-right: 10px;">
                  <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:100%;"> -->
                  <p>Queue Id : 278983</p>
                  <span class="time-left">11:05</span>
                </div>
                <div class="chat-input-holder">
                    <textarea class="chat-input"></textarea>
                    <input type="submit" value="Send" class="message-send" style="background-color: orange;
                    color: white;"/>
                  </div>
  
    </nb-tab>
  </nb-tabset>
</nb-card>
