<nb-card item-height="210px">
  <div class="FixedHeightDiv">
  <div class="title">
    <span class="ChatSpan">Chat</span>
      <select class="selectpicker"  title="Chat" name="chat" [(ngModel)]="type_of_chat" #chat="ngModel">
        <option [value]="0">Support</option>
        <option [value]="1">Finance</option>
      </select>
  </div>
  <div class="chatbot">
      <div class="talk-bubble tri-right left-top" *ngFor="let m of Message" [class.right-top]="m.is_incoming == 0" [class.talk-bubbler]="m.is_incoming == 0">
        <div class="talktext">
            <p>{{m.chat}}</p>
            <span class="timeSpan" style="float: right;" >{{m.creation_time}}</span>
           
        </div>
       
      </div>
      
    </div>
    <div class="input-container">
        <input type="text" class="input-message" [(ngModel)]="ReplyMessage" name="message" style="width: 82%;"/>
        <button class="RplyButton" (click)="ReplyChat();">Send</button>
      </div>
  </div>
</nb-card>
