<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'" style="width: 36%;">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()" *ngIf="brandid === '19'"><img src="/assets/images/Hyundai1.jpeg"  style="height: 44px;" class="img-responsive" ></div>
        <div class="logo" (click)="goToHome()" *ngIf="brandid === '27'"><img src="/assets/images/Mahindra-logo.png"  style="height: 44px;" class="img-responsive" ></div>
        <div class="logo" (click)="goToHome()" *ngIf="brandid != '19' && brandid != '27'"><img src="/assets/images/logo.png" class="img-responsive"></div>
    </div>
</div>
<div class="credits" style="padding-top: 1.1%;">
    <span style="padding-right: 15%;padding-top:1%;">Credit</span>
    <span style="padding-top:1%;padding-right: 13%" [ngStyle]="{'color': Show_credit_Btn === true ? 'red' : 'black'}">{{Credit}}</span>
    <span *ngIf="Show_credit_Btn"><button style="background-color: orange;border-color: orange;border-radius: 50%;" (click)="GoToNeft()"><i class="fa fa-plus" style="color:#ffa100" aria-hidden="true" style="color: white;
        padding-top: 22%;"></i></button></span>
</div>
<nb-actions size="medium" class="header-container" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
 <nb-action>
        <div class="dropdown">
            <div class="col">
                <div ngbDropdown class="d-inline-block" (openChange)="toggled($event)">
                  <button class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
                        <div style="position:relative"><span class="button__badge">{{notificationCount}}</span><i class="fa fa-bell-o" style="color:#d3d3d3;font-size: 1.5rem;" aria-hidden="true"></i></div>
                   </button>
                  <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                    <li class="dropdown-item" *ngFor="let n of notification" > 
                        <div style="font-weight: bold;">{{n.title}}<span style="float:right">{{n.release_date}}</span></div>
                        <div>{{n.description}}</div>
                    </li>
                  </ul>
                </div>
              </div></div>
        <nb-user [menu]="userMenu" [name]="name"></nb-user>
    </nb-action>
    <nb-action class="control-item">
        <nb-search type="rotate-layout" tag="header-search" (click)="startSearch()"></nb-search>
    </nb-action>
   </nb-actions>
