nb-card {
    transform: translate3d(0, 0, 0);
}

table,
th,
td {
    border: 1px solid rgb(218, 223, 230);
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

tbody tr:hover {
    background-color: lightyellow;
}

.upload-button {
    font-size: 0.80rem;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    background-color: #ffa100;
    color: white;
}

.sort-span {
    float: right;
}

.search {
    float: right;
    margin-bottom: 5%;
    margin-right: 4%;
    border: 2px solid #e9ecef;
    border-radius: 4px;
    height: 60%;
    width: 50%;
}