<app-navbar></app-navbar>
<div class="page">
    <div class="row filterRow">
        <div class="col-7 col-md-7 col-lg-7 col-sm-7">
          <p class="cityname" *ngIf="is_default">{{defaultCity?.cityname}}</p>
          <p class="cityname" *ngIf="!is_default">{{selectedCity.cityname}}</p>
         </div>
         <div class="col-2 col-md-2 col-lg-2 col-sm-2"></div>
         <div class="col-1 col-md-1 col-lg-1 col-sm-1">
            <span style="float: right;"> Filter : </span>
        </div>
        <div class="col-2 col-md-2 col-lg-2 col-sm-2">
            <div>
                <label class="select">
                    <select name="city1" id="city1"  [(ngModel)]="user.city" required #city1="ngModel" (change)="onCityChange($event)" class="select__field">
                        <option *ngFor="let d of cityList; let i = index" [value]="d.cityid">{{d.cityname}}</option>
                      </select>
                </label>
              </div>
        </div>
      </div>
      <!-- <div> -->
        <div >
          <table>
            <thead>
              <th>SVC Name</th>
              <th>Account Manager</th>
              <th>Projected this month</th>
              <th>Inception Date</th>
              <th>{{last_n_months[0]}}</th>
              <th>{{last_n_months[1]}}</th>
              <th>{{last_n_months[2]}}</th>
              <th>{{last_n_months[3]}}</th>
              <th>{{last_n_months[4]}}</th>
              <th>{{last_n_months[5]}}</th>
              <th>{{last_n_months[6]}}</th>
              <th>{{last_n_months[7]}}</th>
              <th>{{last_n_months[8]}}</th>
              <th>{{last_n_months[9]}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of List">
                <td>{{item.svcname}}</td>
                <td>{{item.implant_name}}</td>
                <td>{{item.projected}}</td>
                <td>{{item.creation_date}}</td>
                <td>{{item.this_month}}</td>
                <td>{{item.minus_1_month}}</td>
                <td>{{item.minus_2_month}}</td>
                <td>{{item.minus_3_month}}</td>
                <td>{{item.minus_four_month}}</td>
                <td>{{item.minus_five_month}}</td>
                <td>{{item.minus_six_month}}</td>
                <td>{{item.minus_seven_month}}</td>
                <td>{{item.minus_eight_month}}</td>
                <td>{{item.minus_nine_month}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       
      <!-- </div> -->
      
     
</div>

<div class="footer" style="padding-right: 2%; padding-top: .5%; width: 100%;
text-align: right;">
    <img src="../../../assets/images/er21north2.png" style="height: 30px;"/>
</div>
  <!-- <footer>
      <img src="../../../assets/images/er21north2.png" style="height: 30px;"/>
  </footer> -->
  
