<app-navbar></app-navbar>
<div class="page">
    <div class="row filterRow">
        <div class="col-8 col-md-8 col-lg-8 col-sm-8">
          <p *ngIf="is_default">{{defaultCity?.cityname}}</p>
          <p *ngIf="!is_default">{{selectedCity.cityname}}</p>
         </div>
        <div class="col-2 col-md-2 col-lg-2 col-sm-2">
            <div>
                <label>
                    <select name="city1" id="city1" class="form-control selectdiv" [(ngModel)]="user.city" required #city1="ngModel" (change)="onCityChange($event)">
                        <option *ngFor="let d of cityList; let i = index" [value]="d.cityid">{{d.cityname}}</option>
                      </select>
                </label>
              </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 col-sm-4">
          <div>
            <label>
                <select name="serviceType" id="servicetype" class="form-control selectdiv" [(ngModel)]="user.service" required #servicetype="ngModel" (change)="onServiceType($event)">
                    <option *ngFor="let s of type_of_service; let i = index" [value]="s.id">{{s.service}}</option>
                  </select>
            </label>
          </div>
        </div>
      </div>
      <div>
        <div>
          <table>
            <thead>
              <th>SVC Name</th>
              <th>Projected this month</th>
              <th>{{last_n_months[0]}}</th>
              <th>{{last_n_months[1]}}</th>
              <th>{{last_n_months[2]}}</th>
              <th>{{last_n_months[3]}}</th>
              <th>{{last_n_months[4]}}</th>
              <th>{{last_n_months[5]}}</th>
              <th>{{last_n_months[6]}}</th>
              <th>{{last_n_months[7]}}</th>
              <th>{{last_n_months[8]}}</th>
              <th>{{last_n_months[9]}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of List">
                <td>{{item.svcname}}</td>
                <td>{{item.projected}}</td>
                <td>{{item.this_month}}</td>
                <td>{{item.minus_1_month}}</td>
                <td>{{item.minus_2_month}}</td>
                <td>{{item.minus_3_month}}</td>
                <td>{{item.minus_four_month}}</td>
                <td>{{item.minus_five_month}}</td>
                <td>{{item.minus_six_month}}</td>
                <td>{{item.minus_seven_month}}</td>
                <td>{{item.minus_eight_month}}</td>
                <td>{{item.minus_nine_month}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
</div>
