/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
/* .br-custom .br-unit {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 5px;
    width: 28px;
    height: 28px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.br-custom .br-active, .br-custom .br-selected {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.br-unit{
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
}
.br-custom .br-unit, .br-custom .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */
.br-default .br-unit:after {
    content: counter(a);
    counter-increment: a;
}
.br-default .br-unit {
    margin-right: 5px;
    font-size: 16px;
    height: 30px;
    width: 30px;
}

.br-square .br-unit.br-active, .br-square .br-unit.br-selected {
    border-top: 2px solid #FF8400;
    border-bottom: 2px solid #FF8400;
    border-left: 1px solid white;
    border-right: 0px solid white;
    background-color: #FF8400;
    color: white;
    border-radius: 3px;
    margin: 0px;
}
.br-default .br-selected:after {
    color: white;
}
.br-default .br-units {
    counter-reset: a;
}
.br-square .br-unit {
    width: 30px;
    height: 30px;
    border: 2px solid #FF8400;
    background-color: #fff;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #FF8400;
    font-weight: 600;
}


@media only screen and (max-width: 420px) {
    .br-square .br-unit {
        width: 18px;
        height: 18px;
        border: 2px solid #FF8400;
        background-color: #fff;
        margin: 2px;
        text-decoration: none;
        font-size: 9px;
        line-height: 2;
        text-align: center;
        color: #FF8400;
        font-weight: 600;
    }
}
