@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    .solar-card nb-card-header {
        border: none;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
        ngx-traffic {
            display: none;
        }
    }
    @include media-breakpoint-down(xs) {
        .firstcard {
            margin-top: 6%;
            // padding-top: 20%;
        }
    }
    @include media-breakpoint-down(is) {
        /deep/ nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    }
    // .CustRating{
    //     nb-card {
    //         height: 50px;
    //     }
    // }
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    color: #d3d3d3;
}
.full {
    color: orange;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
}
.edit {
    color: orange;
    background-color: white;
}
.CustomerRatingText{
    font-size:20px;
    float:left;
    margin-top: 3%;
}
@media only screen and (max-width: 1550px) {
    .RatingCard{
        padding-top: 0px;
    }
    .CustRating{
        nb-card {
            height: 96px;
        }
    }
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #ffa239; }
.legend .awesome { background-color: #c8e6c9; }
.legend .kindaawesome { background-color: #81c784; }
.legend .notawesome { background-color: #4caf50; }
.legend .notawesome1 { background-color: #ffe789; }

@media only screen and (max-width: 420px) {
.cardValue{
    font-size:2.4rem;
    padding-right:33%;
}
.CustRating{
    nb-card {
        height: 61px;
    }
}
.star {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    color: #d3d3d3;
}
.RatingCard{
    padding-top: 0px;
}
.cardHeight{
    height: 50px;
}
.CustomerRatingText{
    font-size:16px;
    float:left;
    margin-top: 3%;
}
}

