<div class="modal-header">
  <span style="text-align:center;">{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div style="width:100%;margin-left:auto;margin-right:auto">
      <div class="container1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control" name="name" style="text-transform: capitalize;" [(ngModel)]="modalContent.name" required
                #name="ngModel">
              <label class="form-control-placeholder" for="name">Name</label>
            </div>
            <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
              <p *ngIf="name.errors.required">name is required</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" id="add1" name="add1" [(ngModel)]="modalContent.address1" required #add1="ngModel">
            <label class="form-control-placeholder" for="add1">Address1</label>
          </div>

          <div class="form-control-feedback" *ngIf="add1.errors && (add1.dirty || add1.touched)">
            <p *ngIf="add1.errors.required">Address is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" id="add2" name="add2" [(ngModel)]="modalContent.address2" required #add2="ngModel">
            <label class="form-control-placeholder" for="add2">Address2</label>
          </div>
          <div class="form-control-feedback" *ngIf="add2.errors && (add2.dirty || add2.touched)">
            <p *ngIf="add2.errors.required">Address is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" id="pin" name="pin" [(ngModel)]="modalContent.pincode" required #pin="ngModel">
            <label class="form-control-placeholder" for="pin">Pincode</label>
          </div>

          <div class="form-control-feedback" *ngIf="pin.errors && (pin.dirty || pin.touched)">
            <p *ngIf="pin.errors.required">Pincode is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" id="capacity" name="capacity" [(ngModel)]="modalContent.capacity" required #capacity="ngModel">
            <label class="form-control-placeholder" for="capacity">Capacity</label>
          </div>

          <div class="form-control-feedback" *ngIf="capacity.errors && (capacity.dirty || capacity.touched)">
            <p *ngIf="capacity.errors.required">Capacity is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
              <label  for="bname">Bank Name</label>
            <input type="text" class="form-control" id="bname" name="bname" [(ngModel)]="modalContent.bank_name" required #bname="ngModel" [readonly]="true">
           
          </div>

          <div class="form-control-feedback" *ngIf="bname.errors && (bname.dirty || bname.touched)">
            <p *ngIf="bname.errors.required">Bank Name is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
              <label  for="badd">Bank Address</label>
            <input type="text" class="form-control" id="badd" name="badd" [(ngModel)]="modalContent.bank_address" required #badd="ngModel" [readonly]="true">
           
          </div>
          <div class="form-control-feedback" *ngIf="badd.errors && (badd.dirty || badd.touched)">
            <p *ngIf="badd.errors.required">Bank Address is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
              <label  for="acc" >Bank Account Name</label>
            <input type="text" class="form-control" id="acc" name="acc" [(ngModel)]="modalContent.bank_account_name" required #acc="ngModel"  [readonly]="true">
         
          </div>
          <div class="form-control-feedback" *ngIf="acc.errors && (acc.dirty || acc.touched)">
            <p *ngIf="acc.errors.required">Bank Account is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
              <label  for="accnum">Bank Account Number</label>
            <input type="text" class="form-control" id="accnum" name="accnum" [(ngModel)]="modalContent.bank_account_number" required
              #accnum="ngModel" [readonly]="true">
        
          </div>
          <div class="form-control-feedback" *ngIf="accnum.errors && (accnum.dirty || accnum.touched)">
            <p *ngIf="accnum.errors.required">Bank Name is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
              <label for="ifsc">Bank IFSC</label>
            <input type="text" class="form-control" id="ifsc" name="ifsc" [(ngModel)]="modalContent.bank_ifsc_code" required #ifsc="ngModel" [readonly]="true">
          
          </div>
          <div class="form-control-feedback" *ngIf="ifsc.errors && (ifsc.dirty || ifsc.touched)">
            <p *ngIf="ifsc.errors.required">Bank Account IFSC is required</p>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Update Service Centre </button>
    </div>
  </form>
</div>
