<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <nb-card class="nb-icons desktopView">
            <nb-card-header>
                Settlement Details
            </nb-card-header>
            <nb-card-body>
                <div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectDate1($event)" placeholder="{{pastdate | date: 'yyyy-MM-dd'}}" ngbDatepicker #d2="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dateButton" (click)="d2.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                                      <span><i class="fa fa-calendar"></i></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectDate($event)" placeholder="{{today | date: 'yyyy-MM-dd'}}" ngbDatepicker #d3="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dateButton" (click)="d3.toggle()" type="button" style="height: 100%;border-radius: 0px;">
                                      <span><i class="fa fa-calendar"></i></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <button type="button" class="btn btn-primary" (click)="FilterCheck(1)" style="margin-top: 1.5em;">Apply</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">

                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <input type="text" class="search" [(ngModel)]="term" placeholder="search">
                        </div>
                    </div>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th (click)="sort('start_date')">Service Period
                                    <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('date_released')">Settlement Date
                                    <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('neft_id')">NEFT Id
                                    <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('invoice_id')">Reference Id
                                    <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                                </th>
                                <th (click)="sort('notes')">Notes
                                  <span class="sort-span"><i class="fa"  [ngClass]="{'fa-long-arrow-down':!reverse, 'fa-long-arrow-up':reverse}" style="color:#ffa100" aria-hidden="true"></i></span>
                              </th>
                                <th>Download</th>
                            </tr>
                            <tr *ngFor="let pay of payment |  filter:term | paginate: { id: 'server', itemsPerPage:dataperpage, currentPage: p + 1, totalItems: record_count };">
                                <td>{{pay.start_date}} - {{pay.end_date}}</td>
                                <td>{{pay.date_released}}</td>
                                <td>{{pay.neft_id}}</td>
                                <td>{{pay.invoice_id}}</td>
                                <td>{{pay.notes}}</td>
                                <td><a href={{pay.url}}  class="button" target="_blank" download>Download</a></td>
                            </tr>
                        </table>
                        <table class="NoData" *ngIf="message">
                            {{message}}
                        </table>
                        <ngx-spinner bdColor = "rgba(51,51,51,0.09)" size = "large" color = "#ea5810" type = "ball-clip-rotate-pulse"></ngx-spinner>
                        <div class="paginate">
                            <pagination-controls (pageChange)="FilterCheck($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer></nb-card-footer>
        </nb-card>
    </div>
</div>
<div class="mobileView">
        <div class="row headerRow">
          <div class="col-4 col-sm-4">
            <span class="header">Payment</span>
          </div>
          <div class="col-8 col-sm-8">
              <div class="right-inner-addon">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control" placeholder="Search" [(ngModel)]="term" />
              </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" name="dp" [ngModel]="model1" (ngModelChange)="onSelectDate1($event)" ngbDatepicker #d0="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dateButton" (click)="d0.toggle()" type="button" style="height: 100%;width: 100%">
                      <span>
                        <i class="fa fa-calendar"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" name="dp" [ngModel]="model" (ngModelChange)="onSelectDate($event)" ngbDatepicker #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dateButton" (click)="d1.toggle()" type="button" style="height: 100%;width: 100%">
                      <span>
                        <i class="fa fa-calendar"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row applyRow">
            <div class="col-sm-8 col-8"></div>
            <div class="col-sm-2 col-2 applyCol">
              <button type="button" class="btn btn-primary apply" (click)="FilterCheck(1)">Apply</button>
            </div>
          </div>
        <div class="row">
          <div class="col-12 col-sm-12">
              <div class="NoData" *ngIf="message"> {{message}}</div>
            <ul>
              <li *ngFor="let pay of payment |  filter:term ">
                <div class="card">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span><span class="title" style="padding-right: 3%">Service Period</span><span class="title">:</span>&nbsp;{{pay.start_date}} - {{pay.end_date}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <div><span class="title" style="padding-right: 11%">Settle Date</span><span class="title">:</span>&nbsp;{{pay.date_released}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="title" style="padding-right: 17%">NEFT ID</span><span class="title">:</span>
                      <span>&nbsp;{{pay.neft_id}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="title" style="padding-right: 7%">Reference Id</span><span class="title">:</span>
                      <span>&nbsp;{{pay.invoice_id}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 col-sm-4">
                      <span><a href={{pay.url}}  class="button" target="_blank" download style="padding:4px;
                        font-size: 9px;">Download</a></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
            <div class="paginate">
              <pagination-controls (pageChange)="FilterCheck($event)" id="server" *ngIf="!message"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      