<nb-card class="desktopView">
    <nb-card-header>
        Escalation Matrix
    </nb-card-header>
    <nb-card-body>
        <table style="width:100%" class="table table-striped">
            <thead>
                <tr style="font-weight:700">
                    <td>1st point of contact</td>
                    <td>Escalation Level 1</td>
                    <td>Escalation Level 2</td>
                    <td>Escalation Level 3</td>
                    <td>Accounts</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let m of matrix">{{m.matrix_name}}</td>
                </tr>
                <tr>
                    <td *ngFor="let a of matrix">{{a.first_name}}</td>
                </tr>
                <tr>
                    <td *ngFor="let m of matrix">{{m.email}}</td>
                </tr>
                <tr>
                    <td *ngFor="let m of matrix">{{m.first_number}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
<div class="mobileView">
    <div class="row headerRow">
      <div class="col-12 col-sm-12">
        <span class="header">Escalation Matrix</span>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12 col-sm-12">
        <ul>
          <li *ngFor="let m of matrix">
            <div class="card">
              <div class="row">
                <div class="col-12 col-sm-12" style="text-align: center">
                  <span class="poc">{{m.matrix}} point of contact</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div>{{m.matrix_name}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12">{{m.first_name}}</div>
                </div>
                <div class="row">
                <div class="col-12 col-sm-12">
                  <span>{{m.first_number}}</span>
                </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-12">{{m.email}}</div>
                </div>
            </div>
          </li>
        </ul>
        <ngx-spinner bdColor="rgba(51,51,51,0.09)" size="large" color="#ea5810" type="ball-clip-rotate-pulse"></ngx-spinner>
      </div>
    </div>
  </div>